@media (max-width: 880px){
    .home{
        flex-direction: column;
        align-items: center;
    }
    
    aside{
        width: 100%;
        padding: 1rem;
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .reservation-form{
        grid-column: 1/3;
    }
    .reservation-image{
        grid-column: 1/3;
    }
}

@media (min-width: 760px){
    .food-images{
        grid-template-columns: 1fr 1fr;
        grid-column: 1/3;
    }
    .reception{
        grid-template-columns: 1fr 1fr;
        
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

    }
    .full-time .form-container{
        max-width: 400px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }
    .temple-container section{
        width: 70%;
    }
    .temple-container section img{
        width: 70%;
    }
}